[submodule "CS310-dissertation"]
	path = dissertation
	url = https://github.com/EdmundGoodman/CS310-dissertation
[submodule "CS310-presentation"]
	path = presentation
	url = https://github.com/EdmundGoodman/CS310-presentation
[submodule "CS310-progress-report"]
	path = progress-report
	url = https://github.com/EdmundGoodman/CS310-progress-report
[submodule "CS310-specification"]
	path = specification
	url = https://github.com/EdmundGoodman/CS310-specification
[submodule "code/hpc-multibench"]
	path = code/hpc-multibench
	url = https://github.com/EdmundGoodman/hpc-multibench
